<!DOCTYPE html>
<html lang="en">
  <body style="font-family: sans-serif; background-color: #202222; color: white; padding: 2em;">
    <p style="margin-bottom: 2em; color: #bbbbbb">📚 I've found <strong>{count}</strong> new Resource(s) on PANDA:</p>
    {rows}
    <footer style="margin-top: 3em; padding-top: 1em; border-top: 1px solid #333; font-size: 0.9em; color: #aaa;">
        <img src="https://raw.githubusercontent.com/felixmff/panda-watcher/main/resources/banner.png" alt="Panda Watcher" style="width: 180px; height: auto; vertical-align: middle;">
        <p style="margin-top: 1em; color: #bbbbbb;">This email was sent by <strong>Panda Watcher</strong> - An upb tool made by <a style="color: #bbbbbb" href="https://github.com/felixmff">@fmue</a></p>
    </footer>
  </body>
</html>